@model List<SpellShare.Models.SpellingGroup>

<div class="panel panel-default gb-panel-top-margin">
    <div class="panel-heading">Spelling Groups</div>
    <div class="panel-body">
        <p>Here is your list of Spelling Groups</p>
    </div>

    <table class="table">
        <tr>
            <th>Group Name</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        @foreach (var group in Model)
        {
            <tr>
                <td>@group.Name</td>
                <td>@group.Description</td>
                <td>
                    <form method="get" asp-action="EditGroup" asp-route-id="@group.SpellingGroupId">
                        <input type="submit" value="Edit" class="btn btn-default" />
                    </form>
                </td>
                <td>
                    <form method="post" asp-action="DeleteGroup" asp-route-id="@group.SpellingGroupId">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>            
        }
    </table>
</div>